@use "../abstracts" as *;

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  .header__logo {
    flex: 1;
    display: flex;

    position: relative;
    padding-left: 0;
  }
  .header__menu {
    align-items: center;
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: transparent;
    list-style: none;
    display: none;

    a {
      display: block;
      text-align: center;
      padding: 10px 0;
      text-decoration: none; 
      @include sans-serif($fs: 2.2rem, $color: $dark-blue);
      text-transform: uppercase;
    }

    #themeToggle {
      border: 0;
      background: none;
      text-align: center;
      display: block;
      margin: 10px auto;
    }
    
    .sun {
      fill: black;
    }
    
    .moon {
      fill: transparent;
    }
    
    .dark .sun {
      fill: transparent;
    }
    
    .dark .moon {
      fill: white;
    }
  }

  .header__menu-hamburger {
    margin-top: 20px;
    padding-right: 20px;
    cursor: pointer;

    .line {
      display: block;
      width: 40px;
      height: 5px;
      margin-bottom: 10px;
      background-color: #ff9776;
    }
  }
  .expanded {
    display: unset;
  }
}


// min-width: 50em
@include mq() {
  .header__nav {
    .header__logo {
      flex: 1;
      display: flex;

      position: relative;
      padding: 20px;
    }
    .header__menu,
    .header__menu-mobile {
      padding: 20px;
      flex: 1.236;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 64px;
      list-style: none;

      li {
       
        line-height: 20px;
        cursor: pointer;
        text-transform: uppercase;

        a {
          @include sans-serif($fs: 2.3rem, $color: $dark-blue);
          text-decoration: none;
        }
      
        &:hover,
        &:focus {
          color: $accent;
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }
    }

    .header__menu-mobile {
      gap: 20px;
      position: relative;
      display: none;
    }
    
  }
}
