<section class="about-me" id="about">
    <img 
      class="about-img fade-in"
      src="../../jerry-portfolio.jpg"
      alt="Jerry's portrait"
    />
    <h1 class="about-title fade-in">Jerry Wang</h1>
    <h2 class="about-subtitle fade-in">Full stack Java Web Developer</h2>
    <div class="about-text fade-in">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, quos
        minima! Corporis placeat dolore et ut enim beatae perspiciatis,
        consequuntur unde officia eum, architecto eos reiciendis rerum autem!
        Laborum, error.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis soluta
        est modi, debitis placeat, porro assumenda numquam animi quidem
        delectus minus expedita ad. Odio minus neque recusandae atque
        quibusdam illo.
      </p>
    </div>
  </section>