<section class="contact" id="contact">
    <h1>Contact me</h1>
    <form action="">
      <label for="name" class="name"
        >Name:
        <input type="text" id="name" />
      </label>
      <label for="email" class="email"
        >Email:
        <input type="email" id="email" />
      </label>
      <label for="" class="message"
        >Message: <textarea name="" id="message"></textarea>
      </label>

      <input class="button" type="submit" value="SEND" />
    </form>
  </section>