<div class="list-sorter">
  <h1>List Sorter</h1>
  <form >
    <label for="listSize">List Size:</label>
    <input type="number" id="listSize" min="1" required />
    <button type="submit" id="generateBtn">Generate List</button>
  </form>

  <h3>Generated Number List:</h3>
  <ul id="numberList"></ul>

  <button id="sortBtn" disabled>Sort</button>
  <h3>Sorted Number List:</h3>
  <ul id="sortedList"></ul>

  <button id="resetBtn" disabled>Reset</button>
</div>
