<section class="portfolio" id="portfolio">
    <h1>My Work</h1>
    <div class="portfolio-items">
      <!-- Portfolio Item 1 -->
      <figure class="portfolio-item featured">
        <img src="../../portfolio-01.jpg" alt="portfolio-item" />
        <figcaption>
          <h2 class="portfolio-title">Project Name</h2>
          <p class="portfolio-desc">A short description about my project</p>
          <a href="#" class="portfolio-link">More info</a>
        </figcaption>
      </figure>
      <!-- Portfolio Item 2 -->
      <figure class="portfolio-item">
        <img src="../../portfolio-02.png" alt="portfolio-item" />
        <figcaption>
          <h2 class="portfolio-title">Project Name</h2>
          <p class="portfolio-desc">A short description about my project</p>
          <a href="#" class="portfolio-link">More info</a>
        </figcaption>
      </figure>
      <!-- Portfolio Item 3 -->
      <figure class="portfolio-item">
        <img src="../../portfolio-03.png" alt="portfolio-item" />
        <figcaption>
          <h2 class="portfolio-title">Project Name</h2>
          <p class="portfolio-desc">A short description about my project</p>
          <a href="#" class="portfolio-link">More info</a>
        </figcaption>
      </figure>
      <!-- Portfolio Item 4 -->
      <figure class="portfolio-item">
        <img src="../../portfolio-04.png" alt="portfolio-item" />
        <figcaption>
          <h2 class="portfolio-title">Project Name</h2>
          <p class="portfolio-desc">A short description about my project</p>
          <a href="#" class="portfolio-link">More info</a>
        </figcaption>
      </figure>
      <!-- Portfolio Item 5 -->
      <figure class="portfolio-item">
        <img src="../../portfolio-05.png" alt="portfolio-item" />
        <figcaption>
          <h2 class="portfolio-title">Project Name</h2>
          <p class="portfolio-desc">A short description about my project</p>
          <a href="#" class="portfolio-link">More info</a>
        </figcaption>
      </figure>
      <!-- Portfolio Item 6 -->
      <!-- <figure class="portfolio-item">
              <img src="../../portfolio-06.jpg" alt="portfolio-item">
              <figcaption>
                  <h2 class="portfolio-title">Project Name</h2>
                  <p class="portfolio-desc">A short description about my project</p>
                  <a href="#" class="portfolio-link"></a>
              </figcaption>
          </figure> -->
    </div>
  </section>